
# /
/.classpath
/.settings
/.project
/hamlet_docs
/*.patch
/*.iws
*.iml
/*.ipr
/AntBuilderTestXmlReport.xml
/*.html
/target
/AntBuilderTestTextReport.txt
/CodeNarcReport.txt
/CodeNarcXmlReport.xml
/*CodeNarcReport.xml
/.idea
build/
src/main/java/META-INF/
/.gradle
/classes
/out
/integration-test/out/test/classes
