body {
    font-family: Arial, sans-serif;
    margin: 20px 20px 20px 30px;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    width: 400px;
    text-align: center;

    color: white;
    background-color: #557799;
    padding: 10px;

    -moz-box-shadow: 3px 3px 4px #AAA;
    -webkit-box-shadow: 3px 3px 4px #AAA;
    box-shadow: 3px 3px 4px #AAA;

    border-radius: 10px;
    -moz-border-radius: 10px;

    text-shadow: 2px 2px 2px black;
}

h2 {
    font-size: 150%;
    margin-top: 40px;
    padding-top: 5px;
    border-top: 5px solid lightgray;
}

h3 {
    margin-left: 10px;
    margin-top: 30px;
}

a {
    text-decoration: underline;
    color: #D93544;
}

.logo {
    float: right;
}

.metadata {
}

.summary {
    margin-bottom: 20px;
}

.reportInfo {
    font-size: 110%;
}

.allPackages {
    font-weight: bold;
}

.fileHeader {
    font-size: 120%;
    font-weight: bold;
}

.tableHeader {
    font-weight: bold;
}

.number {
    text-align: center;
}

.priority1, .priority2, .priority3 {
    font-weight: bold;
    text-align: center;
    color: #990000;
}

.priority1 {
    background-color: #FFAAAA;
}

.priority2 {
    background-color: #FFCCAA;
}

.priority3 {
    background-color: #FFEEAA;
}

.ruleName {
    font-weight: bold;
    color: black;
    text-align: left;
}

.violationInfo {
    margin-bottom: 2px;
    margin-top: 2px;
}

.violationInfoPrefix {
    font-size: 60%;
    width: 30px;
    color: #a9a9a9;
    padding-right: 4px;
}

.sourceCode {
    font-family: Arial, sans-serif;
    font-size: 80%;
    color: #444444;
}

.violationMessage {
    font-style: italic;
    font-size: 80%;
    color: black;
}

.ruleDescriptions {
    font-size: 85%;
}

.version {
    margin-top: 1px;
}

table {
    border: 2px solid gray;
    border-collapse: collapse;

    -moz-box-shadow: 3px 3px 4px #AAA;
    -webkit-box-shadow: 3px 3px 4px #AAA;
    box-shadow: 3px 3px 4px #AAA;
}

td, th {
    border: 1px solid #D3D3D3;
    padding: 4px 20px 4px 20px;
}

th {
    text-shadow: 2px 2px 2px white;
}

th {
    border-bottom: 1px solid gray;
    background-color: #DDDDFF;
}

em, .em {
    font-weight: bold;
}