/* The sidebar menu */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #99ff99; /* Green */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 2px;
  padding-left: 4px;
}

.sidebar h2 {
  padding-top: 2px;
  margin-top: 2px;
  font-size: 18px;
}

.sidebar ul {
  padding-top: 2px;
  margin-top: 2px;
}

/* The navigation menu links */
.sidebar a {
  padding: 2px 4px 2px 4px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #000000;
}

/* Style page content */
.container {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

nav {
  margin-left: 200px; /* Same as the width of the sidebar */
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    /* font-size: 3em; */
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
}
.container h1, .container h2, .container h3, .container h4 {
    color: #003380;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 4px;
}

th {
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}


