ruleset {
    description 'RuleSet for running CodeNarc against the Grails source code. See RunCodeNarcAgainstGrails'

    ruleset("rulesets/basic.xml")

    ruleset("rulesets/concurrency.xml")

    ruleset("rulesets/imports.xml")

    ruleset("rulesets/junit.xml")  {
        exclude 'JUnitStyleAssertions'
    }

    ruleset("rulesets/size.xml") {
        exclude 'CrapMetric'
    }

    ruleset("rulesets/unused.xml")

    ruleset("rulesets/unnecessary.xml") {
        exclude 'UnnecessaryGString'
        exclude 'UnnecessaryPublicModifier'
        exclude 'UnnecessaryReturnKeyword'
        exclude 'UnnecessarySemicolon'
    }

}