<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>

<div class="sidebar">
    <h2>General</h2>
    <ul>
        <li><a href="http://codenarc.org/">Home</a></li>
        <li><a href="https://sourceforge.net/projects/codenarc/files/">Downloads</a></li>
        <li><a href="https://github.com/CodeNarc/CodeNarc">GitHub Project</a></li>
    </ul>
    <h2>Running</h2>
    <ul>
        <li><a href="./codenarc-ant-task.html">Ant Task</a></li>
        <li><a href="./codenarc-command-line.html">Command-Line</a></li>
        <li><a href="./codenarc-run-as-a-test.html">Run as a Test</a></li>
        <li><a href="./codenarc-other-tools-frameworks.html">Other Tools/Frameworks</a></li>
    </ul>
    <h2>Using</h2>
    <ul>
        <li><a href="./codenarc-creating-ruleset.html">Creating a RuleSet</a></li>
        <li><a href="./codenarc-creating-rule.html">Creating a Rule</a></li>
        <li><a href="./codenarc-configuring-rules.html">Configuring Rules</a></li>
    </ul>
    <h2>Report Types</h2>
    <ul>
        <li><a href="./codenarc-html-report-writer.html">HTML Report</a></li>
        <li><a href="./codenarc-sortable-html-report-writer.html">Sortable HTML Report</a></li>
        <li><a href="./codenarc-xml-report-writer.html">XML Report</a></li>
        <li><a href="./codenarc-text-report-writer.html">Text and IDE Reports</a></li>
        <li><a href="./codenarc-baseline-xml-report-writer.html">Baseline Report</a></li>
    </ul>
</div>

<div class="container">

    {{ content }}

</div><!-- /.container -->

<footer>
    <ul>
        <li><a href="http://codenarc.org/">http://codenarc.org</a></li>
    </ul>
</footer>
</body>
</html>